<%- include ('../layouts/adminHeader.ejs') %>


<style>
    #chart-container {
        width: 80%; /* Adjust the width as desired */
        height: 30rem; /* Adjust the height as desired */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 2rem;
    }

    #category {
    width: 100%;
    height: 100%;
    }

</style>





        <h4 class="text-center my-5 text-dark"><b><u>ADMIN DASHBOARD</u></b></h4>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">


                <div class="col-sm-6 col-xl-3">
                    <div class="bg-success rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Products</p>
                            <h6 class="mb-0">
                                <%=productQty%>
                            </h6>
                        </div>
                    </div>
                </div>
              
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-success rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Orders</p>
                            <h6 class="mb-0">
                                <%=orderQty%>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-success rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Revenue</p>
                            <h6 class="mb-0">
                                <%=totalPrice%>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->

<hr>
        <!-- Sales Chart Start -->
        <!-- <div style="height: 50vh;">
            <div style=" margin-left:5% ; width: 90%; height: 60vh; background-color: rgb(255, 255, 255) ;">
                <canvas id="myChart" class="mt-5" style="margin-left: 19%; width:100%;max-width:700px"></canvas>
            </div>
            <div style="margin-left:5% ; width:90%; height: 60vh; background-color: rgb(255, 255, 255) ; ">

                <canvas id="myChart2" class="mt-5" style="margin-left: 19%;  width:100%;max-width:700px"></canvas>
            </div>

        </div> -->
        <div id="chart-container">
            <canvas id="category"></canvas>
        </div>
        <div id="chart-container">
            <canvas id="product"></canvas>
        </div>
        <div id="chart-container">
            <canvas id="productWise"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/javascript/chart.js"></script>
        <script src="/javascript/admin.js"></script>

        <script>
            console.log('itrufysvdmhg');
            getChart()
            async function getChart() {
            const url = `/admin/chart` ;
            const res = await fetch(url, {
                            method: 'GET',
                            credentials: "same-origin",
                            headers: {
                            'Content-Type' : 'application/json'
                            }
                        });
                
            const chartData = await res.json();
            console.log(chartData);
            console.log(document.getElementById('category'))
            // product wise sale
            new Chart(
            document.getElementById('category'),
            {
                type: 'bar',
                data: {
                labels: chartData.categoryChart.map(row => row._id),
                datasets: [
                    {
                    label: 'Category Wise Number',
                    data: chartData.categoryChart.map(row => row.total)
                    }
                ]
                }
            }
            );

            //  category wise product number
            new Chart(
            document.getElementById('product') ,
            {
                type: "pie",
                data: {
                    labels: chartData.productChart.map(row => row._id),
                    datasets: [{
                    backgroundColor: barColors = [
                        "#b91d47",
                        "#348c4b",
                        "#382f78",
                        "#00aba9",
                        "#c5cc3f",
                        "#7d2a6e"
                    ],
                    data: chartData.productChart.map(row => row.stock)
                    }]
                } ,
                options: {
                    title: {
                    display: true,
                    text: "Product Wise Number"
                    }
                }
            }
            );    
    
    // daily wise sale
            new Chart(
            document.getElementById('productWise'),
            {
                type: 'bar',
                data: {
                labels: chartData.orderChart.map(row => row._id),
                datasets: [
                    {
                    label: 'Product Wise sale',
                    data: chartData.orderChart.map(row => row.revenue)
                    }
                ]
                }
            }
            );
    

}

        </script>


        <%- include ('../layouts/adminFooter.ejs') %>